body {
  text-align: center;
}

#main{
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  background-image: url("https://i.pinimg.com/736x/01/c5/b3/01c5b39733dfa88e3dc7695ee41f1464--vivre-sa-vie-film-stills.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  width: 1500px;

}
.big-hr{
  background-color: black;
  height: .25px;
  width: 80%;
  margin: 0 auto;
  text-align: center;

}


.title-spans{
  padding: 0px 30px 0px 0px;
  font-style: italic;
  margin-top: 60px;

}

.list-container{
  float: left;
  font-size: 18px;
  margin-left: 100px;

}
.icons-container{
  float: right;
  margin-right: 120px;
}
.footer-spans{
  padding: 0px 30px 0px 0px;
}

.title {
 color: #ab1623;
  font-size: 140px;
  margin: 0 auto;
  text-align: center;

}
.subtitle{
  color: ;
  font-size: 40px;
  margin: 0 auto;
  text-align: center;
}
#shop{
  font-family: 'Rubik', sans-serif;
  font-size: 60px;
  color: white;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;

}

a {
   list-style-type: none;
  text-decoration: none;

}
#shop hover{
  color: #ab1623;
}
footer {

  bottom: 0;
  width: 100%;
  max-height: 2%;
  margin-top: 95%;
  color: black;
  padding: 2% 3%;
  background-color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
  .icons {
  padding: 10px 60px 10px 1px;
  margin-top: 10px;
  height: 5%;
  width: 5%;
}
.highlight {
   color: #ab1623;
   font-weight: 500;
}
#me{
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 20px;
  color: grey;
  width: 60%;
  font-style: italic;


}
 #about{

  font-family: 'Rubik', sans-serif;
  height: 400px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 100px;
  font-weight: 100;
  color: white;
  font-weight: 20px;


 }

 #contact{
  font-family:'Rubik', sans-serif;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  font-weight: 100;
  color:#ab1623;
  font-size: 40px;


 }
#aboutcontainer{
  font-family: 'Rubik', sans-serif;;
  height: 1200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
 .item{
  height: 719px;
  width: 719px;
 }

 #moodboard{
  font-family: 'Shrikhand', cursive;
  height: 1000px;

 }

 #infomain{
 font-family: 'Rubik', sans-serif;;
 height: 1200px;
 }

 #info {

  height: 400px;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-weight: 100;
  color:black;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  width: 60%;
  font-style: italic;
  margin-top: 80px;

 }

a{
  color:#ab1623;
}

#faq{
  color:#ab1623;
}


.sizing{
margin-bottom: 0px;
}



nav ul li a {
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 60px;

}
a:hover{
  color: black;
}
nav {
  text-align: center;


}
ul {
  text-align: center;
  position: relative;
  display: inline-block;
}
nav li{
  color: grey;
  display: inline;
  padding: 70px;
  font-size: 60px;
  font-family: 'Rubik', sans-serif;
}


img{
  max-height: 600px;
  max-width: 600px;
  text-align: center;
}

.products {
  color: black;
  margin-bottom: 400px;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;;
  line-height: 40px;
  float:left;
  margin-left: 30px;
}
.productdetails{
  font-size: 20px;
  font-family: 'Rubik', sans-serif;;
  line-height: 40px;
  color: black;
  margin-bottom: 400px;
}

#cart {
  height: 50px;
  width: 50px;
  float: right;
  padding: 50px;
}
#title{
  text-align: center;

}
#mast {
  display: flex;
  position: relative;
  justify-content: center;
}
h6{
  color: black;
}


#mc_embed_signup{

  font-style: italic;
  font-family: 'Rubik', sans-serif;
}

#details{
  color: black;
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
#teaser{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
}

#teaser:hover{
  border: solid #ab1623 4px;
}

#details1{
  margin-right: 10px;

}

.sub {

  font-size: 40px;
  margin-bottom: 100px;
}

#faqlink{
  font-size: 25px;
  font-style: italic;
}
#faqlink:hover{
  color: grey;
  font-style: italic;
}
#aboutlink{
  font-size: 25px;
  font-style: italic;
}
#contactlink{
  font-size: 25px;
  font-style: italic;
}

#shoplink{
  font-size: 25px;
  color: grey;
  font-style: italic;
}
#upcominglink{
 font-size: 25px;
  color: grey;
  font-style: italic;
}
#moodlink{
 font-size: 25px;
  color: grey;
}

#storelink{
    font-size: 25px;
    font-style: italic;
}
#white{
  color: grey;
}
#store{
  font-family: 'Rubik', sans-serif;
  font-style: italic;

}

#highlight:hover{
  color:black;
}

#shopshirts{
  height: 800px;

}
#store{
  height: 1800px;

}


#menu {
font-size: 30px;
 margin: 20px;



}
.menu{
  padding: 25px;
}
.sub{
  margin-bottom: 10px;
  font-size: 30px;

}

.current{
  text-decoration: underline;
  color: black;
}

.daria{
  margin-top: -8%;
  margin-bottom: 5%;
}
#mailchimp{
  margin-top: 17%;
  margin-bottom: 10%;

}
.sub{
  margin-top: 5%;
  font-size: 1.4em;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}
.clear{
  font-family: 'Rubik', sans-serif;
  font-style: italic;

}



#contactinfo{
  margin-top: 100px;
  font-size: 20px;
   font-family: 'Rubik', sans-serif;
   font-style: italic;
}
@media only screen and (max-width: 500px) {
  body {


      width: 100%;
  }


.icons {
height: 5%;
width: 5%;
margin-top: -35;
padding: 10px 30px 10px 1px;
}


.logo{
  max-height: 90px;
  max-width: 270px;
  text-align: center;
}
#info{
  font-size: 20px;
  width: 300px;
}
#contact{
font-size: 20px;
width: 250px;
margin: 0 auto;
text-align: center;
}
#about{
font-size: 20px;
width: 300px;
}
a{
font-size: 20px;
  margin: 0px;
  padding: 0px;
}

nav li{

  color: grey;
  display: inline;
  padding: 6px;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-style: italic;
}
nav {
  margin-left: -50px;
}

#mailchimp{
  margin-bottom: 120px;
}
#chart{
  height: 90%;
  width: 90%;
  margin-top: 20px;

}






}





